<mat-card>
  <mat-card-header>
    <mat-card-title>Ime profila</mat-card-title>
    <mat-card-subtitle>Opis profila</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/Screenshot_2.png" />
  <mat-card-content> Like, share sub </mat-card-content>
  <mat-card-actions>
    <mat-icon class="action-item" color="warn">thumb_up_alt</mat-icon>
    <mat-icon class="action-item" color="warn">thumb_down_alt</mat-icon>
    <mat-icon class="action-item" color="warn">favorite</mat-icon>
    <mat-icon class="action-item" color="warn">comment</mat-icon>
  </mat-card-actions>
</mat-card>
